/*For addRequest.html*/
*{
    margin:0;
    padding:0;
}
.wrapper{
    width: 1170px;
    margin:auto;
}
header{
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url(https://wallpapercave.com/uwp/uwp1197581.jpeg);
    font-family:'Times New Roman', sans-serif;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}
.card-body{
    text-align:center;
}
.form-control{
    text-align:center;
}
.btn{
    border:1px solid #fff;
    padding:10px 25px;
    text-decoration:none;
    text-transform:uppercase;
    font-size:14px;
    margin-top:20px;
    display:inline-block;
    color:rebeccapurple;
    box-shadow: -3px 6px 4px mediumpurple;
}

.btn:hover{
    background:rebeccapurple;
    color:white;
    box-shadow: -3px 6px 4px indigo;
}

.flex-container{
    position: center;
    width:600px;
    margin:20% 30%;
    margin-top: 5%;

}