<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Requests List</title>
    <link href="../static/style2.css" th:href="@{/style2.css}" rel="stylesheet" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          inherity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJLSAwiGgFAW/dAiS6JXm"
          crossorigin="änonymous">

<body>
<header>
    <h1 class="heading">My Recommendation Letter List</h1>
    <div class="row2">
        <div class="row d-flex justify-content-center">
            <div class="table-container">

                <div id="MyRequests"></div>
                <table class="table" id="display">
                    <thead>
                    <th>Βαθμός</th>
                    <th>Όνομα καθηγητή</th>
                    <th>Κατάσταση</th>
                    <th>Ενέργεια</th>
                    </thead>

                    <tbody id="tbody1">
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            </a>
                            <button th:href="@{http://localhost:8080/deleteLetter/{letterId}}" class="btn"> Delete </button>
                        </td>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</header>
</body>
</html>

