<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Requests List</title>
    <link href="../static/style2.css" th:href="@{/style2.css}" rel="stylesheet" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          inherity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJLSAwiGgFAW/dAiS6JXm"
          crossorigin="änonymous">

<body>
<header>
    <h1 class="heading">My Recommendation Letter List</h1>
    <div class="row2">
        <div class="row d-flex justify-content-center">
            <div class="table-container">

                <div id="MyRequests"></div>
                <table class="table" id="display">
                    <thead>
                    <th>Βαθμός</th>
                    <th>Όνομα καθηγητή</th>
                    <th>Κατάσταση</th>
                    <th>Ενέργεια</th>
                    </thead>

                    <tbody id="tbody1">
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            </a>
                            <button th:href="@{http://localhost:8080/deleteLetter/{letterId}}" class="btn"> Delete </button>
                        </td>
                    </tbody>
                </table>
                <div id="searchAllLettersArea"></div>
                <script>
                    window.addEventListener('load', (event) => {
                        const xhr = new XMLHttpRequest();
                        xhr.open('GET', 'http://localhost:8080/viewLetters', true);
                        xhr.send();

                        var table = document.getElementById("display");

                        xhr.onreadystatechange = function () {
                            if (xhr.readyState == 4) {
                                if (xhr.status == 200) {

                                    let divElem = document.getElementById('searchAllLettersArea');
                                    const results = JSON.parse(xhr.responseText);
                                    const item = results[0];
                                    try {
                                        divElem.innerHtml = ` ${item.mark} ${item.dest} ${item.status} ${item.energeia}`;
                                        console.log(divElem.innerHtml);
                                    } catch (err) {
                                        alert('You dont have any letter');
                                        return false;
                                    }

                                    var row = 1;
                                    // const items=results;
                                    //so if its here there is at least on book with that key
                                    results.forEach((item) => {
                                        var display = document.getElementById("display");
                                        var ALLnewRow = display.insertRow(row);

                                        var cellA1 = ALLnewRow.insertCell(0);
                                        var cellA2 = ALLnewRow.insertCell(1);
                                        var cellA3 = ALLnewRow.insertCell(2);
                                        var cellA4 = ALLnewRow.insertCell(3);

                                        cellA1.innerHTML = item.mark;
                                        cellA2.innerHTML = item.dest;
                                        cellA3.innerHTML = item.status;
                                        cellA3.innerHTML = item.energeia;
                                        row++;
                                    });


                                }
                            }


                        }

                    });


                </script>

            </div>
        </div>
    </div>
</header>
</body>
</html>

