<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pending Requests</title>
    <link href="../static/style2.css" th:href="@{/style2.css}" rel="stylesheet" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          inherity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJLSAwiGgFAW/dAiS6JXm"
          crossorigin="änonymous">

<body>
<header>
    <h1 class="heading">Εκκρεμείς Αιτήσεις Φοιτητών</h1>
    <div class="row2">
        <div class="row d-flex justify-content-center">
            <div class="table-container">

                <div id="PendingLetters"></div>
                        <table class="table" id="display">
                            <thead>
                            <th>Βαθμός</th>
                            <th>Όνομα φοιτητή</th>
                            <th>Ενέργεια</th>
                            </thead>

                            <tbody id="tbody1">
                            <tr>
                                <td></td>
                                <td></td>
                                <td>
                                    <Button type th:href="@{http://localhost:8080/editRequest/{requestId}}"
                                       class="btn1"> Accept
                                    </Button>
                                    <Button th:href="@{http://localhost:8080/deleteRequest/{requestId}}"
                                       class="btn2"> Reject
                                    </Button>
                                </td>
                            </tbody>
                        </table>

              </div>
        </div>
    </div>
</div>
</header>
</body>
</html>