<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Website For Making Requests</title>
    <link href="../static/main.css" th:href="@{/main.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<body>
<header>
    <div class="wrapper">
        <ul class="nav-area">
            <li><a href="http://localhost:8080/pendingRequestsPage"><i class="fas fa-stream"> Αιτήματα Φοιτητών</i></a></li>
            <li><a href="http://localhost:8080/addLetterPage"><i class="fas fa-envelope"></i> Νέα συστατική επιστολή</a></li>
            <li><a href="http://localhost:8080/viewLettersPage"><i class="fas fa-stream"></i> Οι συστατικές επιστολές μου</a></li>
            <li><a href="http://localhost:8080/login?logout"><i class="fas fa-sign-out-alt"> Αποσύνδεση</i></a></li>
        </ul>
    </div>

    <div class="welcome-text">
        <h1>Welcome to our website</h1>
        <a href="#" onclick="myFunction()"><i class="fa fa-phone-square"></i> Contact Us</a>
        <p id="demo" style="color: #FFFFFF"></p>
    </div>

    <script>
        var a;
        function myFunction(){
            if(a==0){
                document.getElementById("demo").innerHTML = "<br>it21994@hua.gr <br></br>it219104@hua.gr<p></p><a href=\https://github.com/const2001/WebApp>https://github.com/const2001/WebApp</a>";
                return a=1;
            }
            else{
                document.getElementById("demo").innerHTML = "";
                return a=0;
            }
        }


    </script>

</header>
</body>
</html>