<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create a request</title>
    <link href="../static/style1.css" th:href="@{/style1.css}" rel="stylesheet" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          inherity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJLSAwiGgFAW/dAiS6JXm"
          crossorigin="änonymous">


</head>
<body>
<header>
<div class="row">
    <div class="flex-container">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card" style="background-color: cadetblue" >

            <h1 class="text-center" style="color: #fdfbff">Φόρμα Συστατικής επιστολής</h1>

            <div class="card-body">
                    <div class="form-group" style="color: #FFFFFF">
                        <label>Όνομα: </label>
                        <input
                                type="text"
                                name="name"
                                id="name"
                                class="form-control"
                                placeholder="Enter your name"
                        />
                    </div>

                    <div class="form-group" style="color: #FFFFFF">
                        <label>Email: </label>
                        <input
                                type="text"
                                name="email"
                                id="email"
                                class="form-control"
                                placeholder="Enter the email of external body"
                        />
                    </div>

                    <div class="form-group" style="color: #FFFFFF">
                        <label>Συστατική επιστολή: </label>
                        <p></p>
                    <input type="file" id="text" accept=".doc">
                    </div>


                        <button type="submit" class="btn" id="sendRequest" onclick="sessionStorage.getItem('btn').disabled=true;">
                            Υποβολή
                        </button>


                    <script type="text/javascript">
                        window.addEventListener('load', (event) => {
                            document.getElementById('sendRequest').addEventListener('click', (event) => {

                                const RecommendationLetters = {
                                    'rid': sessionStorage.getItem("rid"),
                                    'name': document.getElementById('name').value,
                                    'email': document.getElementById('email').value,
                                    'text': document.getElementById('text').value
                                };
                                //check if an element is empty
                                if (document.getElementById('name').value == "") {
                                    alert("complete all the fields!")
                                    document.getElementById('name').value
                                    return false
                                }
                                if (document.getElementById('email').value == "") {
                                    alert("complete all the fields!")
                                    document.getElementById('email').value
                                    return false
                                }
                                if (document.getElementById('text').value == "") {
                                    alert("complete all the fields")
                                    document.getElementById('text').value
                                    return false
                                }

                                var xhr = new XMLHttpRequest();
                                xhr.open("POST", 'http://localhost:8080/addLetter', true);
                                xhr.setRequestHeader("Content-Type", "application/json");

                                xhr.onreadystatechange = function() {
                                    if (xhr.readyState == 4) {
                                        if (xhr.status == 200) {
                                            alert(xhr.responseText);
                                        }
                                    }

                                };

                                xhr.send(JSON.stringify(RecommendationLetters));

                                    // $(sessionStorage.getItem('btn')).prop('disabled', true);
                                    // $(sessionStorage.getItem('btn')).css('background-color', 'grey');



                                // function(){
                                //     // get the item
                                //     if ( '.btn' !== null ) {
                                //         $(localStorage.getItem('btn')).prop('disabled', true);
                                //     }
                                // });

                            });

                        });
                    </script>

            </div>
            <p></p>
            <div id="status"></div>
        </div>
    </div>
</div>

</header>
</body>
</html>